<!DOCTYPE html>
<html>
<head>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdn.rawgit.com/qinix/toyger/v0.1.0/dist/highlight/styles/solarized_dark.css">
    <script src="//cdn.rawgit.com/qinix/toyger/v0.1.0/dist/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- toyger -->
    <script src="//cdn.rawgit.com/qinix/toyger/v0.1.0/dist/toyger.min.js"></script>
    <link rel="stylesheet" href="//cdn.rawgit.com/qinix/toyger/v0.1.0/dist/theme/white.css">
</head>
<body>
    <!-- essential -->
    <div id="sidebar"></div>
    <div id="content"></div>

    <!-- optional -->
    <div id="back_to_top">back to top</div>
    <div id="edit">edit</div>
    <div id="loading">Loading ...</div>
    <div id="error"></div>

    <script>
     toyger.run({
         // essential settings
         index: "README.md",
         sidebar_file: "sidebar.md",

         // optional settings if you want github search
         github_username: null, // EDIT ME!!
         github_repo: null, // EDIT ME!!

         // where the docs are actually stored on github - so you can edit
         base_url: ""
     });
    </script>
</body>
</html>
